      #wrapper, #help_wrapper { 
        max-width : 100%;
      }
      
      #help_wrapper img {
        width : 30%;
        margin-right : 10px;
        height : auto;
      }

      #title { padding:0; }

      input.file { }

      #transfer_text { clear : both; }

      .box textarea { width : auto; }
      
