      #wrapper, #help_wrapper { 
        max-width : 100%;
      }
      
      #help_wrapper img {
        width : 30%;
        margin-right : 10px;
        height : auto;
      }

      #title { padding:0; }

      #transfer_text { margin-right : 10px; }

      .box textarea { width : 200px; height: 100px }
      
      #fileinput { margin-left : 0; }
