body {
  line-height: 18px;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  background: #DDD url('http://hoccer.com/webapp/images/hoccer_wall_bg.jpg') repeat-x; 
  color: #888;
  padding: 5px;
}

hr {
  color: #c5c5c5;
  background-color: #777777;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #e4e4e4;
}

h1 {
  font-size: 20px;
  margin-left: 10px;
}

h2 {
  font-size: 16px;
  color: #999999;
}

h2 a {
  color: #339bb1;
}

h2 a:visited {
  color: #339bb1;
}

h4 {
  font-size: 16px;
  color: #707070;
  text-shadow: 1px 1px 0px #ffffff;
}

a {
  text-decoration: none;
  color: #339bb1;
  font-weight : bold; 
}

a:visited {
  text-decoration: none;
  color: #339bb1;
}

input[type=text], textarea {
  border: 1px solid #C5C5C5;
}

form#clean_contact input[type=text]{
  margin-bottom: 18px;
}

/* Possible IE Breakage ahead */
.column {
  overflow: visible;
}

article hr {
  height: 1px;
  border-top: 1px solid #c9c9c9;
  background-color: #ebebeb;
  border-bottom: 1px solid #fbfbfb;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-shadow: 0px -1px #000; 
  -webkit-font-smoothing: antialiased; 
}

#container {
   min-height: 100%;
   margin-bottom: -180px;
   position: relative;
}

.push {
  height: 200px;
  clear: both;
}

body > footer {
  height: 180px;
  margin-top: 0px;
  position: relative;
}

body > footer hr {
  margin-top: 0px;
}

#lightbox {
  display: none;
}

.lbp-inline-link span {
  vertical-align: top;
  display: block;
  float: right;
  width: 40px;
}

img.alignleft {
  float: left;
  padding-right: 18px;
  padding-bottom: 18px;
}

    #wrapper, #help_wrapper { margin : 0 auto; width: 600px; }

    #help_wrapper {
      display : none;
      border-top : 1px solid rgba(0,0,0,0.5);
      border-bottom : 1px solid rgba(0,0,0,0.5);
      border-right : 1px solid rgba(0,0,0,0.25);
      border-left : 1px solid rgba(0,0,0,0.25);
      margin-bottom: 10px; 
      padding-bottom : 10px;
      background-color : rgba(0,0,0,0.2);
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.25) inset;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    }

    #location  { clear : both; }
    #coordinates { display: none; }
    #webclient { margin: 0 auto; display : none;}
    #group { display : none;}
    #info { margin-top : 10px; }
    .box { 
      margin : 10px 10px;
      border-top : 1px solid rgba(0,0,0,0.5);
      border-bottom : 1px solid rgba(0,0,0,0.5);
      border-right : 1px solid rgba(0,0,0,0.25);
      border-left : 1px solid rgba(0,0,0,0.25);
      margin-bottom: 10px; 
      padding-bottom : 10px; 
      background-color : rgba(0,0,0,0.2);
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.25) inset;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    }

    .box section { margin-top : 10px;}

    .box ul {
      margin-left : 0px;
      padding-left : 20px;
      padding-right : 20px;
    }

    .box ul li {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      list-style-type: none;
    }

    .box ul li:last-child {
      border: none;
    }

    .box ul li br {
      display: none;
    }

    .box ul li p {
      margin-top: 10px;
    }

    .box ul li img {
      float: left;
      margin-right: 20px;
      border: 1px solid #bdbdbd;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }

    .box p {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 18px;
      margin-bottom: 18px;
    }

		#map_canvas { height: 450px; padding-top: 6px;}
		#map_container { position: absolute; padding: 10px; margin-top: -1200px;}
		#map_container { font-size: 15pt;}
		#location #show_map {float: right;}
		
		#location span, #content_select span, .centered span { vertical-align: middle; }
		#location img, #content_select img, .centered img { margin: 0 5px 0 0; padding: 0; vertical-align: middle;}
		#content_select, .centered { font-size: 15pt; }
		
		#transfer_button, #fileInputField { cursor: pointer }

    #textinput {
      vertical-align: center;
      float:right;
      padding:20px;
    }

    #textinput a {
      float : right;
      margin-right : 30px;
      font-size : 15px;
    }
		
		#fileinput {
			float: left;
      margin-left : 50px;
			width: 230px;
		}

    #name_select {
      display : none;
    }
		#content_select {
			text-align: center;
      display: none;
      clear : both;
      margin: 0;
      padding : 0;
      height : 0;
      border : none;
    }

    #help_section {
      clear : both;
      display: none;
    }
		
#transfer h1 			{ width : 100%; text-align : center; margin-left: 0;}
		#transfer h1 span { vertical-align: middle; }
		#transfer h1 img 	{ margin: 0 5px 0 0; padding: 0; vertical-align: middle;}
	
		#transfer img#drag { 
      clear : both;
      float: left; 
			margin-left: 15px; 
			border: 1px solid #bdbdbd;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		}
		
    #transfer_text {
      float : right;
      margin-right: 50px;
      height : 50px;
    }

		
		#connecting_info {
      text-align: left;
      font-weight: bold;
      letter-spacing: 1px;
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
      padding-top: 5px;
      padding-left : 20px;
      padding-right : 20px;
    }
		
		#addressForm {
			margin: 10px 0;
		}
		
		div.fileinputs {
			position: relative;
		}

		div.fakefile {
			position: absolute;
			top: 0;
			left: 20px;
			z-index: 1;
    }

		div.textpic {
			float: right;
      padding-right: 20px;
      z-index: 1;
		}


		input.file {
      position: absolute;
      left: 10px;
			
			text-align: right;
			-moz-opacity:0 ;
			filter:alpha(opacity: 0);
			opacity: 0;
			z-index: 2;
			
			height: 45px;	
      width: 150px;

      margin-bottom : 20px;
		}
		
		textarea {
			width: 210px;
			-moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		  
			background: #F6F6F6;
		}
		
		hr {
			display: block;
			height: 1px;
			border: 0;
			border-top: 1px inset rgba(0,0,0,0.5);
			margin: 0;
			padding: 0;
		}
		
		.box h2 {
			padding-bottom: 15px;
      padding-left : 10px;
    }
		
		.box textarea {
			width: 490px;
			height: 210px;
		}

    #title { width : 315px; display : block; margin: 0 auto; padding: 20px 0 20px 0; }
    #change_client, #change_name { float : right; }

    #client_name { margin-left : 20px; }

    .clientinfo {
      margin-top : 10px;
    }

    #app_footer { padding : 0; width: 100%; }

    #app_footer ul { margin : 0 }
    #app_footer ul li {
      float : left;
      list-style-type : none;
      margin-left : 10px;
    }
    #app_footer ul li:first-child { margin-left : 0; }


    .transfer_button_info { 
      float : left;
      font-size : 15pt;
      line-height : 35px;
      margin-left : 5px;
    }

h1.help { width : 100%; text-align : center; font-size : 1.5em; margin-bottom : 40px;}
h2.help { clear : both; font-size : 1.2em; color : #ddd; margin-left: 10px; margin-bottom : 10px; }
div.help { margin-bottom : 20px; }
ol.help { padding-left: 20px; padding-right: 10px; list-style-position: inside; }
img.help { float : left; margin-left: 20px; margin-right : 10px; margin-bottom : 10px; }
div.help ul li { float : right; list-style-type : none; padding : 5px; font-weight : bold; }
p.help { padding : 0 10px; }
.send_button { float : right; margin-right : 20px; }

#sending_info { margin-top : 20px; }
#stop_sending { display : none; }
#start_sending { display : none; }

#close_name { margin-left : 20px; }
#connecting_animation { margin-right : 20px; float : right; padding-top : 2px; }

span.check_name { margin : 0 10px; }
div.check_name { margin-left : 10px; margin-right: 10px; margin-top: 10px; }

