	/*
		Hoccer Wall 
		Peter Amende, 2013
	*/

	/* * * * * * * * * * * * * * * * * * * * * * * * * --- Fonts --- */

@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700');

	/* * * * * * * * * * * * * * * * * * * * * * * * * --- Reset --- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
* {outline: 0;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6, h7 {}
a, a:active, a:visited { color: inherit; text-decoration: none;}
a:hover {}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after, .clear { clear: both; }
.clearfix { zoom: 1; }

	/* * * * * * * * * * * * * * * * * * * * * * * * * --- Preset --- */
    
body,
input,
select,
textarea {
	font-family: 'PT Sans', Helvetica, Arial, Sans-Serif;
	font-size: 14px;
	line-height: 18px;

	color: #7D878A;
}

h1, h2, h3, h4 {
	margin: 20px 0;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}

	/* * * * * * * * * * * * * * * * * * * * * * * * * --- Content --- */

.image {
	position: absolute;
	margin: auto;

	background-color: #eee;

	padding: 10px;
	
  -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.5);
     -moz-box-shadow: 0 0 25px rgba(0,0,0,0.5);
          box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.text {
	position: absolute;
	padding: 20px;
      
	margin-bottom: 10px;
	padding-bottom: 10px;
	
	border: 10px solid #fff;
	background: #fff;

	color: #404040;

  -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.5), inset 0 0 100px #eee;
     -moz-box-shadow: 0 0 25px rgba(0,0,0,0.5), inset 0 0 100px #eee;
          box-shadow: 0 0 25px rgba(0,0,0,0.5), inset 0 0 100px #eee;
}
.text > * {
	line-height: 100%;
}



.vcard {
	position: relative;
	overflow: hidden;
	height: 100%;
	font-size: 16px;
}
.vcard hr {
	width: 75%;
}
.vcard span {
	display: block;
}
.vcard .photo {
	position: absolute;
	right: 0;
	margin: 10px;
	
	border: 10px solid #fff;

  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
     -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
          box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.vcard .fn {
	font-size: 32px;
	margin: 20px 0 30px;
}
.vcard .type {
	font-weight: 700;
}
.vcard .content,
.vcard .value {
	padding: 10px;
	display: block;
}


	/* * * * * * * * * * * * * * * * * * * * * * * * * --- Layout --- */

html {
	background: #f4f4f4 url('images/bg-playground.jpg') repeat scroll center top; 
	-webkit-font-smoothing: antialiased;
	background-size: 100% 100%;
	height: 100%;
	overflow: hidden;
}
body {
	background-size: auto 100%;
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

#wall {
	height: 100%;
	width: 100%;
}
#manual {
	position: absolute;
	margin: 0 0 -150px -480px;
	padding: 0;
	width: 960px;
	height: 300px;
	left: 50%;
	top: 30%;

	font-size: 64px;
	line-height: 120%;
	text-align: center;

	font-weight: 700;
	color: #fff;
	text-shadow: rgba(0,0,0,0.1) 0 2px 4px;
	z-index: 1;
}

#logo {
	position: absolute;
	z-index: 1;
	display: block;
	left: 20px;
	top: 20px;
}
#logo img {
	width: 120px;
}

	/* * * * * * * * * * * * * * * * * * * * * * * * * --- Tab Buttons --- */

.tab-nav {
	display: block;
	position: absolute;
	top: 20px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.corner-tab-download {
	right: 100px;
}
.corner-tab-group {
	right: 60px;
}
.corner-tab-settings {
	right: 20px;
}
.tab-nav a {
	font-family: 'Arial Black', Arial, sans-serif;
	font-weight: 900;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
	display: block;
	color: #404040;

	display: block;
}
.tab-nav a img {
	max-width: 100%;
	height: auto;
}
.tab-nav:hover {
}
#download_button {
	display: none;
}
#group_button {
}
#info_button {
}



    
.dashboard {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index : 1;
	padding: 0;
	margin: 0;
	display: none;
	border: 0;
	background: #242628;
}

	/* * * * * * * * * * * * * * * * * * * * * * * * * --- Group --- */

#group {}
#group_container {
	position: absolute;
	left: 50%;
	width: 37.5%;
	margin: 0 0 0 -18.75%;
	top: 20%;
	
	background: #f4f4f4;
	color: #7D878A;
}
#done_group {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 0;

	font-size: 24px;
	cursor: pointer;
	
	border-top: 1px solid #404040;
	border-bottom: 0;
	background: #2e8ae5;
	color: #fff;
}
#done_group:hover,
#done_group:focus {
	background: #3399ff;
}
#group_inner {
	padding: 20px;
}

#group_info {
	font-size: 14px;
	text-align: center;
	padding: 0;
	margin: 20px 0;
}
#group ul#client_list {
	margin: 0;
	list-style: none;
	overflow: auto;
	padding: 0;
}
#group ul#client_list li.client_item {
	position: relative;
	cursor: pointer;
	font-size: 20px;

	text-align: center;

	padding: 0;
 	margin: 0;
}
#group ul#client_list li.client_item .client_item_inner {
	display: block;
	background: #7D878A;

	color: #fff!important;

	padding: 20px 0;
 	margin: 0 0 1px 1px;

  -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}
#group ul#client_list li.client_item .client_item_inner:hover {
	box-shadow: 0 0 0 8px rgba(0,0,0,0.1) inset;
}
#group ul#client_list li.client_item.active .client_item_inner {
	color: #7D878A!important;
	background: #242628;
}
#group ul#client_list li.client_item.active .client_item_inner:hover {
	box-shadow: 0 0 0 8px rgba(255,255,255,0.1) inset;
}
#group ul#client_list li.client_item input.group_box {
	position: absolute;
	display: none;
	right: 16px;
	top: 15px;
}

#channel_info {
	font-size: 18px;
	text-align: center;
	color: #ccc;
	padding: 0;
	margin: 20px 10px 40px;
		
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
#channel_input {
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;

	padding: 0 10px;
	width: auto;
}
#channel_input #channel {
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	
	margin: 0;
	padding: 0 10px;
	width: 100%;
	color: #404040;
	border: 0;

	font-size: 24px;

	background: #808080;
	border: 1px solid #000;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.33), 0 -1px 0 rgba(0,0,0,0.33);
     -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.33), 0 -1px 0 rgba(0,0,0,0.33);
          box-shadow: 0 1px 0 rgba(255,255,255,0.33), 0 -1px 0 rgba(0,0,0,0.33);

  -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#channel_input #channel:hover {
	background: #bfbfbf;
}
#channel_input #channel:focus {
	background: #fff;
}
#channel_input #channel.active,
#channel_input #channel.active:hover,
#channel_input #channel.active:focus {
	color: #fff!important;
	text-shadow: 0 -1px 0 #143d66;

	background: #2e8ae5;
	border: 1px solid #66b3ff;

  -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.5), inset 0 0 15px rgba(255,255,255,0.33);
     -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.5), inset 0 0 15px rgba(255,255,255,0.33);
          box-shadow: 0 1px 2px 1px rgba(0,0,0,0.5), inset 0 0 15px rgba(255,255,255,0.33);
}


#group_check {
	position: absolute;
	width: 30px;
	display: none;
	margin: 0;
	right: -10px;
	top: -5px;
}

	/* * * * * * * * * * * * * * * * * * * * * * * * * --- Settings --- */

#settings {
	height: 100%;
}
#settings_inner {
	height: 100%;
}
#map_canvas {
	margin: 0;
	padding: 0;
	min-width: 100% !important;
	min-height: 100% !important;
	background: #333 !important;
}

#map-text {
	position: absolute;
	width: 62.5%;
	bottom: 10%;
	margin: 0 0 0 -31.25%;
	left: 50%;
	z-index: 1000;

	background: #f4f4f4;
	color: #7D878A;
}
.settings_option {
	width: 40%;
	float: left;
}
.settings_option .settings_option_inner {
	position: relative;
	padding: 10px 0 10px 10px;
	height: 60px;
	line-height: 60px;
	border-right: 1px solid #242628;
}
.settings_done {
	width: 20%;
	float: left;
}
#done_settings {
	cursor: pointer;
	display: block;
	padding: 10px;
	margin: 0;
	
	width: auto;
	height: 60px;
	line-height: 60px;
	text-align: center;

	font-size: 16px;
	font-weight: 700;

	background: #2e8ae5;
	color: #fff;

  -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}
#done_settings:hover,
#done_settings:focus {
	background: #3399ff;
}
.input-wrapper {
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: left;

	padding: 0 10px;
	width: auto;
}

#address_field,
#client_name {
	display: block;
	height: 60px;
	line-height: 60px;
	
	margin: 0;
	padding: 0;
	width: 100%;
	background: transparent;
	color: #242628;
	border: 0;
	
	font-size: 16px;
}

#client_name {
}
#address_field {
}

img#scalable_image,
img#select_bg_image {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.more_btn {
	position: absolute;
	bottom: -31px;
	cursor: pointer;
	margin: 0;
	
	height: 30px;
	line-height: 30px;
	
	padding: 0 10px;
	color: #7D878A;
	background: #242628;
	border-top: 0;

  -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}
.more_btn:hover {
	color: #fff;
}
.more_btn#show_hotspots {
	left: 0;
}
.more_btn#legal_notice {
	left: 104px;
}

#bssid {
	display: none;
	overflow: auto;
	border-top: 1px solid #7D878A;
}
#bssid .settings_bssid {
	overflow: auto;
	float: left;
	width: 40%;
}
#bssid .settings_bssid .settings_bssid_inner {
	position: relative;
	padding: 10px 0 10px 10px;
	height: 60px;
}
#bssid .settings_bssid:first-child .settings_bssid_inner {
	border-right: 1px solid #7D878A;
}
#bssid .settings_bssid #bssid_field {
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: left;
	background: transparent;
	
	margin: 0;
	padding: 0;
	width: 100%;
	color: #242628;
	border: 0;
}
#bssid .settings_bssid #bssid_info {
	display: block;
	padding: 10px;
}



#legal {
	display: none;
	overflow: auto;
	border-top: 1px solid #7D878A;
}
#legal_inner {
	margin: 0;
	padding: 20px;
}
#legal p {
	margin: 20px 0 0;
}
#legal p:first-child {
	margin: 0;
}